name: Build and deploy ASP.Net Core app to Azure Web App - fleet-asssets-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  API_PROJECT: Fleet-Assets-Backend.Api/Fleet-Assets-Backend.Api.csproj

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore
        run: dotnet restore ${{ env.API_PROJECT }}

      - name: Build
        run: dotnet build ${{ env.API_PROJECT }} -c Release --no-restore

      - name: Publish
        run: dotnet publish ${{ env.API_PROJECT }} -c Release --no-build -o ${{ runner.temp }}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ runner.temp }}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./myapp

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.__clientidsecretname__ }}
          tenant-id: ${{ secrets.__tenantidsecretname__ }}
          subscription-id: ${{ secrets.__subscriptionidsecretname__ }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'fleet-asssets-backend'
          slot-name: 'Production'
          package: ./myapp
